.logo {
    font-size: 20px;
    font-weight: 500;
  }
  
  .spacer {
    flex: 1 1 auto;
  }
  
  button {
    margin: 0 4px;
    
    &.active {
      background-color: rgba(255, 255, 255, 0.1);
    }
  }
  
  .user-info {
    padding: 8px 16px;
    cursor: default;
  }
  